In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv("C:\\Users\\HCL\\Machine Learning\\csv files\\nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
# Add new column in dataframe in the end
nba["Sport"] = "BasketBall"
nba["League"] = "National BasketBall Assoc.."
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport,League
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,BasketBall,National BasketBall Assoc..
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,BasketBall,National BasketBall Assoc..
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,BasketBall,National BasketBall Assoc..
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,BasketBall,National BasketBall Assoc..
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0,BasketBall,National BasketBall Assoc..

In [19]:
nba1 = pd.read_csv("C:\\Users\\HCL\\Machine Learning\\csv files\\nba.csv")
nba1.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

# OR

In [20]:
# Add new column in any location where you want to insert in DF
nba1.insert(4, column="Sport", value="BasketBall")
nba1.head()

,Name,Team,Number,Position,Sport,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,BasketBall,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,BasketBall,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,BasketBall,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,BasketBall,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,BasketBall,29.0,6-10,231.0,NaN,5000000.0